<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Table Generator</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="site-header">
        <h1>Table Generator</h1>
    </header>